{% if page.layout == "page" %}
    <script type="importmap">
    {
        "imports": {
            "assets/": "{{ site.baseurl }}/assets/",
            "raw/": "{{ site.baseurl }}/raw/"
        }
    }
    </script>
    
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/js/vendor/webawesome.css" />
    <script type="module" src="{{ site.baseurl }}/assets/js/vendor/webawesome.js"></script>

	<script>
        window.SiteConfig = {
            baseUrl: "{{ site.baseurl }}",
            dataLatestUrl: "{{ '/raw/data-latest.min.json' | relative_url }}",
        };
        document.documentElement.classList.add("wa-dark");
    </script>
{% endif %}
